<div>
    <h1 class="text-center">{{pageTitle}}</h1>
    <div class="row">   
        <div class="col-3">
            Ime:
        </div>    
        <div class="col-3">
            {{client.name}}
        </div> 
    </div>
    <div class="row">   
        <div class="col-3">
            Prezime:
        </div>    
        <div class="col-3">
            {{client.surname}}
        </div> 
    </div>
    <div class="row">   
        <div class="col-3">
            Email:
        </div>    
        <div class="col-3">
            {{client.email}}
        </div> 
    </div>
    <div class="row">   
        <div class="col-3">
            Šifta:
        </div>    
        <div class="col-3">
            {{client.password}}
        </div> 
    </div>
    <app-case-list></app-case-list>
</div>
