<div>
    <h1 class="text-center">{{pageTitle}}</h1>
    <div class="row">
        <div class="col-4">
            <input type="date" class="form-control" placeholder="Datum" [(ngModel)]="searchDate">
        </div>
        <div class="col-4">
            <input type="text" class="form-control" placeholder="Predmet" [(ngModel)]="searchName">
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="searchCases()">Pretraži</button>
        </div>
    </div>
    <br>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Predmet</th>
                    <th>Status</th>
                    <th>Dokumenti</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let case of cases'>
                    <th>{{case.date}}</th>
                    <td>{{case.name}}</td>
                    <td>{{case.status}}</td>
                    <td>
                        <ul>
                            <li *ngFor='let doc of case.documents'><a [href]="doc.reference">{{doc.name}}</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
