<nav class='navbar navbar-expand-sm bg-primary navbar-dark'>
  <a class='navbar-brand text-secondary'>{{pageTitle}}</a>
  <ul class='navbar-nav' (click)='hideErrorMessage()'>
    <li *ngIf='user.role=="admin"' class='nav-item'><a class='nav-link' [routerLink]="['/client']">Klijenti</a></li>
    <li *ngIf='user.role=="admin"' class='nav-item'><a class='nav-link' [routerLink]="['/addClient']">Dodaj klijenta</a></li>
    <li *ngIf='user.role=="user"' class='nav-item'><a class='nav-link' [routerLink]="['/user/'+ user.id]">Korisnik</a></li>
  </ul>
</nav>
<div class='bg-secondary full-height' *ngIf='!showErrorMessage'>
  <div class="container bg-white w-75 full-height">
    <router-outlet></router-outlet>
  </div>
</div>
